In [48]:
import pandas as pd

In [49]:
df = pd.DataFrame({"pear": [1,2,3], "apple": [4,5,6], "orange": [7,8,9]})
c1 = df["pear"]
c1i = df.columns.get_loc("pear")

In [50]:
for index, row in df.iterrows():
    print row['pear'], row['apple'], row['orange'], row.get('not_exist')
    print type(row)

1 4 7 None
<class 'pandas.core.series.Series'>
2 5 8 None
<class 'pandas.core.series.Series'>
3 6 9 None
<class 'pandas.core.series.Series'>

In [51]:
print df.empty

False

In [52]:
df.loc[len(df)]=[11,12,13]

In [53]:
df

   apple  orange  pear
0      4       7     1
1      5       8     2
2      6       9     3
3     11      12    13

In [55]:
df.to_json(orient='records')

'[{"apple":4,"orange":7,"pear":1},{"apple":5,"orange":8,"pear":2},{"apple":6,"orange":9,"pear":3},{"apple":11,"orange":12,"pear":13}]'

In [22]:
import json

In [35]:
def json_csv(filename):
    with open(filename) as data_file:
        data = json.load(data_file)
    return pd.DataFrame(data['profile_set'])

In [43]:
df = json_csv('json.txt')

In [41]:
data

[{'k1': 'v1'}, {'k2': 'v2'}]

In [37]:
df

,created_datetime,doc_type,first_name,key,last_name,mem_list,middle_name
0,2018-01-06T12:52:09,PROFILE,Robert,123,John,"{u'mem_num': u'10001', u'mem_flag': [], u'curr...",[]
1,2018-01-07T11:32:07,PROFILE,Lily,456,Hubert,"{u'mem_num': u'10002', u'mem_flag': u'Y', u'cu...",[]

In [38]:
df.to_csv("my_csv_file.csv", index=False)

In [46]:
dfj = df.to_json(orient='records')

In [47]:
dfj

'[{"created_datetime":"2018-01-06T12:52:09","doc_type":"PROFILE","first_name":"Robert","key":"123","last_name":"John","mem_list":{"mem_num":"10001","mem_flag":[],"current_flag":"Y","child_mem_list":{"child_mem_num":[]}},"middle_name":[]},{"created_datetime":"2018-01-07T11:32:07","doc_type":"PROFILE","first_name":"Lily","key":"456","last_name":"Hubert","mem_list":{"mem_num":"10002","mem_flag":"Y","current_flag":"Y","child_mem_list":{"child_mem_num":[]}},"middle_name":[]}]'

In [62]:
import json

In [75]:
data = {"k1": {"v1": {"k2":"v2"}}}

In [76]:
data

{'k1': {'v1': {'k2': 'v2'}}}

In [77]:
j = json.dumps(data)
j

'{"k1": {"v1": {"k2": "v2"}}}'

In [78]:
json.dumps(j)

'"{\\"k1\\": {\\"v1\\": {\\"k2\\": \\"v2\\"}}}"'

In [79]:
import ujson
ujson.dumps(j)

'"{\\"k1\\": {\\"v1\\": {\\"k2\\": \\"v2\\"}}}"'

In [33]:
import io, json
with io.open('data.txt', 'w', encoding='utf-8') as f:
  f.write(json.dumps(data))

TypeError: write() argument 1 must be unicode, not str

In [34]:
json.dumps(data)

'[{"k1": "v1"}, {"k2": "v2"}]'

In [58]:
df = pd.DataFrame([['a"bc"', 'b'], ['c', 'd']],
                  index=['row 1', 'row 2'],
                  columns=['col 1', 'col 2'])

In [59]:
df

       col 1 col 2
row 1  a"bc"     b
row 2      c     d

In [61]:
dfj = df.to_json(orient='records')
dfj

'[{"col 1":"a\\"bc\\"","col 2":"b"},{"col 1":"c","col 2":"d"}]'

In [ ]:
import json
data